a[href="https://koyu.space/@koyu"] .display-name__html,
a[href="https://koyu.space/@zack"] .display-name__html,
a[href="https://koyu.space/@Fyrfaras"] .display-name__html {
  color: #00ff00;
}

a[href="https://koyu.space/@Einhjeriar"] .display-name__html,
a[href="https://koyu.space/@tastytentacles"] .display-name__html,
a[href="https://koyu.space/@thorwaldson"] .display-name__html {
  color: #ffff00;
}

a[href="https://koyu.space/@shockops"] .display-name__html {
  color: #ff00ff;
}
