//Admin
a[href="https://koyu.space/@koyuchan"] .display-name__html,
a[href="https://koyu.space/@zack"] .display-name__html,
a[href="https://koyu.space/@Fyrfaras"] .display-name__html {
  color: #00ff00;
}

//Moderator
a[href="https://koyu.space/@Einhjeriar"] .display-name__html,
a[href="https://koyu.space/@tastytentacles"] .display-name__html,
a[href="https://koyu.space/@thorwaldson"] .display-name__html,
a[href="https://koyu.space/@kettlevoid"] .display-name__html,
a[href="https://koyu.space/@cronomaestro"] .display-name__html {
  color: #ffff00;
}

//Donator
a[href="https://koyu.space/@kallisti5"] .display-name__html,
a[href="https://koyu.space/@Vurt_Konnegut"] .display-name__html {
  color: #ff00ff;
}

//Makes use of webhost/Gemini hosting (Beacon)
/*a[href="https://koyu.space/@username"] .display-name__html {
  color: #ff8000;
}*/
