.getting-started__footer p {
  visibility: hidden;
}
.getting-started__footer p:after {
  content: "koyu.space is free software and running glitch-soc 3.1.4. You can help the people over on GitHub at glitch-soc/mastodon. You can also donate at liberapay.com/koyu.space to keep the servers running.";
  visibility: visible;
  display: block;
  margin-top: -45px;
}
