.getting-started__footer p {
  visibility: hidden;
}
.getting-started__footer p:after {
  content: "koyu.space is free software and running glitch-soc. You can help the people over on GitHub at glitch-soc/mastodon. You can also donate at creators.mstdn.social/koyuspace to keep the servers running.";
  visibility: visible;
  display: block;
  margin-top: -45px;
}
