a[href*="/tags/BlackLivesMatter"]:after {
  background: url(https://koyu.space/emoji/270a-1f3ff.svg);
  padding: 10px;
  margin-left: 4px;
  background-position: center;
  content: "";
  background-repeat: no-repeat;
  background-size: 85%;
}

a[href*="/tags/acnh"]:after {
  background: url(https://f001.backblazeb2.com/file/koyuspace-media/custom_emojis/images/000/044/003/original/a275d6809afe4837.png);
  padding: 10px;
  margin-left: 4px;
  background-position: center;
  content: "";
  background-repeat: no-repeat;
  background-size: 85%;
}

a[href*="/tags/Venezuela"]:after {
  background: url(https://koyu.space/emoji/1f1fb-1f1ea.svg);
  padding: 10px;
  margin-left: 4px;
  background-position: center;
  content: "";
  background-repeat: no-repeat;
  background-size: 85%;
}

a[href*="/tags/pridemonth"]:after,
a[href*="/tags/PrideMonth"]:after {
  background: url(https://koyu.space/emoji/1f3f3-fe0f-200d-1f308.svg);
  padding: 10px;
  margin-left: 4px;
  background-position: center;
  content: "";
  background-repeat: no-repeat;
  background-size: 85%;
}