.status__content a .fa {
  color: #ccc;
}

.status__content a .fa:hover {
  color: #fff;
}

code {
  font-family: mastodon-font-monospace,monospace !important;
  font-weight: 400;
  font-size: 10pt;
  background: #000;
  padding: 4px;
  color: #fff;
}

pre {
  background: #000;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
}

pre > code {
  padding: 0;
}

.conversation .h-card {
  display: none;
}

.account__header__account-note {
  background: transparent !important;
  border-top: 0;
  border-bottom: 0;
}

.drawer__inner,
.composer--options--dropdown--content {
  z-index: 1;
}

.account__header__fields dt,
.account__header .account__header__fields dt {
  background: rgba(23,23,23,.5);
}

.account__header .account__header__fields dd:not(.verified),
.account__header__fields dd:not(.verified) {
  background: rgba(23,23,23,.25);
}