.logo-container h1 a {
  background: transparent url('https://themedata.koyu.space/img/pb-icon.svg') no-repeat bottom/100% auto !important;
  padding: 79px;
}

.public-layout .header .brand {
  background: transparent url(https://themedata.koyu.space/img/pb-icon.svg) no-repeat bottom/90% auto !important;
  padding: 26px;
  margin-top: -4px;
}

.landing-page__logo {
  background: transparent url(https://themedata.koyu.space/img/pb-icon.svg) no-repeat bottom/100% auto !important;
  padding: 30px;
}

a[href="/"] {
  background: transparent url(https://themedata.koyu.space/img/pb-icon.svg) no-repeat top/41% auto !important;
  box-sizing: border-box;
  display: block;
}

.brand {
  background: transparent url(https://themedata.koyu.space/img/pb-icon.svg) no-repeat top/100% auto !important;
  padding: 60px;
}

.public-layout .footer .brand {
  display: inline-block;
  padding: 30px;
}

.landing-page h1 small:after {
  content: "A cute Mastodon server!";
  visibility: visible;
  display: block;
  position: absolute;
}

img[alt="Mastodon"],
.landing-page h1 small {
  visibility: hidden;
}

.modal-layout__mastodon,
.public-layout .header .brand svg,
.brand__tagline,
a[href="https://joinmastodon.org/"],
.landing-page__forms .button[href="https://joinmastodon.org"],
.landing__brand svg,
.public-layout .footer .brand svg,
.logo-container h1 svg {
  display: none;
}

a.logofont {
  background: transparent !important;
}