.logo-container h1 a {
  background: transparent url('https://koyu.space/img/pb-icon.svg') no-repeat bottom/100% auto !important;
  padding: 79px;
}

.public-layout .header .brand {
  background: transparent url(https://koyu.space/img/pb-icon.svg) no-repeat bottom/90% auto !important;
  padding: 26px;
  margin-top: -4px;
}

.landing-page__logo {
  background: transparent url(https://koyu.space/img/pb-icon.svg) no-repeat bottom/100% auto !important;
  padding: 30px;
}

@media(min-width:800px) {
  a[href="/"]:not(.logofont) {
    background: transparent url(https://koyu.space/img/pb-icon.svg) no-repeat top/41% auto !important;
    box-sizing: border-box;
    display: block;
    margin-left: -24px;
    margin-top: 1px;
  }
}

@media(max-width:800px) {
  a[href="/"] {
    background: transparent url(https://koyu.space/img/pb-icon.svg) no-repeat top/41% auto !important;
    box-sizing: border-box;
    display: block;
    margin-left: -24px;
    margin-top: 8px;
  }
}

.brand {
  background: transparent url(https://koyu.space/img/pb-icon.svg) no-repeat top/100% auto !important;
  padding: 60px;
}

.public-layout .footer .brand {
  display: inline-block;
  padding: 30px;
}

.landing-page h1 small:after {
  content: "A cute Mastodon server!";
  visibility: visible;
  display: block;
  position: absolute;
}

img[alt="Mastodon"],
.landing-page h1 small,
a[href="/"] svg {
  visibility: hidden;
}

.modal-layout__mastodon,
.public-layout .header .brand svg,
.brand__tagline,
a[href="https://joinmastodon.org/"],
.landing-page__forms .button[href="https://joinmastodon.org"],
.landing__brand svg,
.public-layout .footer .brand svg,
.logo-container h1 svg {
  display: none;
}

a.logofont {
  background: transparent !important;
}

.button.logo-button svg {
  display: none;
}

.logo-container > h1:nth-child(1) > a:nth-child(1) {
  background-size: 90% !important;
}

.logo-container {
  margin: 0 !important;
}

.column-title .logo > use {
  visibility: hidden;
}

.column-title .logo {
  background: transparent url(https://koyu.space/img/pb-icon.svg) no-repeat top/100% auto !important;
}