#registration_new_user span.hint {
font-size:0px;
}

#registration_new_user span.hint::before {
content: "Please tell us why you would like to join koyu.space: what are your interests and how do they fit within this instance? Quick oneliners and lazy generic answers will be ignored. Hint: read the about section. Please also provide links to your work / website / git / writings / other social media so that we can verify faster we are dealing with a real person! Finally, note that you don't need to be on koyu.space to follow anyone on this server, but you can do so from other servers in the fediverse as well.";
font-size: 12px;
}

#registration_new_user span.hint::after {
content: " We won't process vague, single sentence or off-topic submissions. Additionally it might take us up to a week or two to go through submissions. Be patient.";
font-weight:bold;
font-size: 12px;
}
}

#new_user .input.user_invite_request_text span.hint {
font-size:0px;
}

#new_user .input.user_invite_request_text span.hint::before {
content: "Please tell us why you would like to join koyu.space: what are your interests and how do they fit within this instance? Quick oneliners and lazy generic answers will be ignored. Hint: read the about section. Please also provide links to your work / website / git / writings / other social media so that we can verify faster we are dealing with a real person! Finally, note that you don't need to be on koyu.space to follow anyone on this server, but you can do so from other servers in the fediverse as well.";
font-size: 12px;
}

#new_user .input.user_invite_request_text span.hint::after {
content: " We won't process vague, single sentence or off-topic submissions. Additionally it might take us up to a week or two to go through submissions. Be patient.";
font-weight:bold;
font-size: 12px;
}
