.status__content .emojione:not([alt^=":sticker_"]) {
  width: 32px !important;
  height: 32px !important;
  margin-top: 0px;
}

img[alt^=":sticker_"] {
  width: 128px !important;
  height: 128px !important;
}

div.emoji-mart-category > span[title^=":sticker_"] > span {
  width: 120px !important;
  height: 120px !important;
}

.emoji-mart-emoji[title^=":sticker_"]:hover::before {
  border-radius: 10px !important;
}

span.reactions-bar__item__emoji > img[alt^=":sticker_"] {
  width: 16px !important;
  height: 16px !important;
}

.status__content .emojione:not([alt^=":sticker_"]) {
  padding: 3px;
}